@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('achtergrond.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div class="text-container">
        <h1 class="display-4">Welkom bij Friture Neon</h1>
        <p>De lekkerste frieten! We zijn goedgekeurd door de voedselinspectie! Hij heet Mark en heeft ons eerlijk beoordeeld! Je hoeft je hierom geen zorgen te maken! Omdat we goedgekeurd zijn!</p>
    </div>
</body>
</html>